.parcel-cache/
build/
dist/
node_modules/
*.zip

# start node-stream
.idea
public
node_modules
npm-debug.log

server/thumbnails/*
!server/thumbnails/.gitkeep

#ignore sessions but keep folder
server/sessions/*
!server/sessions/.gitkeep

# ignore media but keep folder
server/media/*
!server/media/.gitkeep
# end node-stream

# for Eclipse
.classpath
.project
.settings

# for IDEA
*.iml
*.ipr
*.iws
.idea/

# for build
target
build

# for  mac
.DS_Store

/bin/
/node_modules/
/coverage/

# for specific
# mylib.*.js
